header {
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
p {
   font-size: 16px;
   font-family: "open sans", sans-serif;
   text-align: justify;
}
body {
    margin: 0px;
    background-color: azure;
}
section {
    margin: 0px 0px;
    padding: 2% 3% 2% 3%;
}
article {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 2% 3% 2% 3%;
  margin: 25px 0px;
}
footer {
    text-align: center;
    opacity: 0.6;
}
.topnav {
    background-color: #262626;
    overflow: hidden;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}
  .topnav  a {
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    color: white;
    font-size: 18px;
  }
aside {
    position:fixed; 
    width:25%; 
    top:500px; 
    Bottom:0; right:0; left:90%;
} 
#container {
    text-align: justify;
  }
  #container > div {
    width: 400px; 
    display: inline-block;
    vertical-align: top;
    *display: inline;
    zoom: 1;
  }
  #container:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
