
header {
    margin: 0px 100px 0px 100px;
    text-align: center;
    background-color:rgba(45, 45, 45, 0.1);
    
}
p {
   font-size: 16px;
   font-family: "open sans", sans-serif;
   text-align: justify;
}
body {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 40px;
    padding: 2% 3% 2% 3%;
    background-color: azure;
}
footer {
    opacity: 0.6;
}