
header {
    text-align: center;
}
p {
   font-size: 16px;
   font-family: "open sans", sans-serif;
   text-align: justify;
}
body {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 40px;
    padding: 2% 5% 2% 5%;
    background-color: azure;
}
